const env = process.env.NODE_ENV === 'development'
  ? {
    mediaUrl: 'http://localhost',
    apiUrl: 'http://localhost/api',
    langUrl: 'http://localhost',
    staticImagesHost: 'http://localhost',
    onlineUserHost: ':6002',
    auth: {
      clientId: 0,
      clientSecret: ''
    },
    yandexApiKey: 'e79b7ae4-40d6-410c-a6b2-3dbe7156d57c'
  }
  : {
    mediaUrl: 'http://media.my-tutor.club',
    apiUrl: 'https://my-tutor.club/api',
    langUrl: 'https://my-tutor.club',
    staticImagesHost: 'https://my-tutor.club',
    onlineUserHost: ':6002',
    auth: {
      clientId: 2,
      clientSecret: 'D0AMeFodfbEHkka6NRtl2tZIKcxUhJf4vUsHSP9g'
    },
    yandexApiKey: 'e79b7ae4-40d6-410c-a6b2-3dbe7156d57c'
  };

export default env;